<div class="container">
    <h1>Login</h1>
    <div class="alert alert-danger" ng-show="model.alert">{{model.alert}}</div>
    <form name="myForm">
        <input ng-model="model.user.username"
               name="username"
               type="text"
               class="form-control"
               placeholder="username"
               required/>
        <input ng-model="model.user.password"
               name="password"
               type="password"
               class="form-control"
               placeholder="password"
               required/>
        <a class="btn btn-primary btn-block"
           ng-click="model.login(model.user)">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
    </form>
</div>
