<script>
    (function() {
        var loc = window.location.href;
        if(/page/.test(loc)) {
            $('#footer').addClass('navbar-widget');
        } else {
            $('#footer').addClass('navbar-inverse');
        }
    })();
</script>
<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>