<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">Widgets</a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-repeat="widget in model.widgets">
        <ng-include ng-init="tmplUrl = model.getUrlForWidgetType(widget.widgetType);" src="tmplUrl"></ng-include>
    </div>
</div>

<nav class="navbar navbar-widget navbar-fixed-bottom">

    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>