<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">Widgets</a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-repeat="widget in model.widgets">
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-widget navbar-fixed-bottom">

    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>