<div class="form-group">
    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           type="text" class="form-control" id="name" placeholder="Heading Name">
</div>
<div class="form-group">
    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           type="text" class="form-control" id="text" placeholder="Heading Text">
</div>
<div class="form-group">
    <label for="url">URL</label>
    <input ng-model="model.widget.url"
           type="text" class="form-control" id="url" placeholder="URL">
</div>
<div class="form-group">
    <label for="width">Width</label>
    <input ng-model="model.widget.width"
           type="text" class="form-control" id="width" placeholder="Width">
</div>
<div class="form-group">
<form action="/api/upload"   method="post" enctype="multipart/form-data">
    <label for="upload">Upload</label>
    <input  name="myFile"    type="file" class="form-control" id="upload"/>
    <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
    <input  name="userId"    value="{{model.uid}}"   style="display: none"/>
    <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
    <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
    <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>
</div>
<a class="btn btn-info btn-block"
   href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}/search">Search</a>