<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">Websites</a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <div ng-repeat="website in model.websites">
            <li><a href="#/user/{{model.uid}}/website/{{website._id}}/page">
                {{website.name}}
                <a href="#/user/{{model.uid}}/website/{{website._id}}" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
            </a></li>
        </div>
    </ul>
</div>

<ng-include src="'views/common/footer.view.client.html'"></ng-include>