<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="website-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">Pages</a>
        <div class="navbar-text pull-right">
            <a href="page-new.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li><a href="widget-list.html">
            Blog Post
            <a href="page-edit.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </a></li>
        <li><a href="widget-list.html">
            Blogs
            <a href="page-edit.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </a></li>
        <li><a href="widget-list.html">
            Home
            <a href="page-edit.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </a></li>
        <li><a href="widget-list.html">
            About
            <a href="page-edit.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </a></li>
        <li><a href="widget-list.html">
            Contact Us
            <a href="page-edit.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </a></li>
    </ul>
</div>

<nav class="navbar navbar-widget navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
